@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(50% 50rem, #112720, #0e151d);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

h1 {
    font-family: 'Pacifico', 'Jost', 'Roboto', cursive;
    font-weight: 400;
    color: #178862;
    font-size: 4rem;
    margin-top: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.sketch, .mode {
    border: 0.5rem solid #178862;
    border-radius: 0.7rem;
}

.mode {
    background: linear-gradient(#40b890, #497c97);
    width: 12rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.colorpicker {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

#setcolor {
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%);
}

.mode button {
    border: none;
    background: linear-gradient(to bottom, #00c989 30%, #366c7c 70%);
    background-attachment: fixed;
    border-radius: 0.5rem;
    padding: 0.6rem 1.2rem;
    font-family: 'Jost', 'Roboto', cursive;
    font-size: 1rem;
    font-weight: 500;
    color: #b5dfdb;
    transition: all ease 0.3s;
}

    .mode button:hover {
        cursor: pointer;
        border-radius: 0.3rem;
        box-shadow: 0 0.1rem #155458;
    }

    .mode button:active {
        color: #9ec2bf;
    }

.btn.draw, .btn.rainbow {
    transition: 0.3s all ease;
}

.btn.draw.active, .btn.rainbow.active {
    background: linear-gradient(to right, #96760d 30%, #a39511 70%);
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem #155458;
    color: #9ec2bf;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#setgrid {
    appearance: none;
    cursor: pointer;
    background-color: #2b5b69;
    border-radius: 0.5rem;
}

#setgrid::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    appearance: none;
    background-color: #5396b4;
    box-shadow: 0 0 0.2rem #1e2d3f;
    transition: 0.2s all ease;
    pointer-events: none;
}

    #setgrid::-webkit-slider-thumb:hover {
        background-color: #477f99;
    }

#gridSizeText {
    color: #24414e;
    font-family: 'Jost', 'Roboto', cursive;
    font-size: 0.8rem;
    pointer-events: none;
}

.sketch {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: 30rem;
}

.cell {
    flex-grow: 1; /* Allow cells to grow to fill the container */
    background-color: #d6fff1;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease 0.2s;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column-reverse;
    }

    .mode {
        display: flex;
        flex-wrap: wrap;
        width: 30rem;
        height: 6rem;
        padding: 0.5rem;
    }
}